<html>
    <head>
    {% include 'script.html.twig' %}
    </head>
    {% include 'header_base.html.twig' %}
    <body class="position-relative">
    
        <div class="container marketing">
            <hr class="featurette-divider">
            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Dou'poils, le salon</h2>
                <span class="align-baseline">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</span>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto rounded-circle" src="{{asset('build/img/facebook-logo.png')}}" alt="facebook" style="width: 150px; height: 150px; border:"  data-holder-rendered="true">
            </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Isabel Moniz</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto rounded-circle" src="{{asset('build/img/facebook-logo.png')}}" alt="facebook" style="width: 150px; height: 150px; border:"  data-holder-rendered="true">
            </div>
            </div>

            <hr class="featurette-divider">
            <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Le toilettage animalier</h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto rounded-circle" src="{{asset('build/img/facebook-logo.png')}}" alt="facebook" style="width: 150px; height: 150px; border:"  data-holder-rendered="true">
                
            </div>
            </div>

            <hr class="featurette-divider">
        </div>
    {% include 'footer.html.twig' %}
    </body>
</html>