<html>
    <head>
    {% include 'script.html.twig' %}
    </head>
    {% include 'header_base.html.twig' %}
    <body class="position-relative">
    
        <div class="container marketing">
           Page en construction
        </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    {% include 'footer.html.twig' %}
    </body>
</html>