<footer class="footer position-relative">
    <div class="container text-center">
    <span >
        <a href="#">
            <img src="{{ asset('build/img/facebook-logo.png') }}" height="20px" alt="Facebook">
        </a>
    </span>
    </div>
</footer>