<form class="form-signin" action="{{ path('login') }}" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Connexion</h1>
    <input id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="" type="email">
    <input id="inputPassword" class="form-control" placeholder="Password" required="" type="password">
    <div class="checkbox mb-3">
    <label>
        <input value="remember-me" id="rememberCredential" type="checkbox"> Enregistrer les informations </input>
    </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Connexion</button>
</form> 