<html>
    <head>
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <link rel="stylesheet" href="{{ asset('build/custom.scss') }}">

    </head>
    <body class="position-relative">
    {% include 'header_connect.html.twig' %}
        
    {% include 'footer.html.twig' %}
    </body>
</html>