{# templates/lucky/number.html.twig #}


{% if number < 10 %}
    <h1> Too bad {{ number }} </h1>
{% elseif number > 10 and number < 50 %}
    <h1> Better but not good enough ! {{ number }} </h1>
{% else %}
    <h1> Easy ! {{ number }} </h1>
{% endif %}